.sleep__quote-text {
  font-size: 70px;
  text-align: center;
  margin: 0 auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 700px) {
  .sleep__quote-text {
    font-size: 40px;
  }
}
