.about__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  width: 80%;
  margin: 50px auto 0;
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .about__cards {
    grid-template-columns: repeat(auto-fit, 250px);
  }
}
